.main {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0.375rem;
  color: var(--gray11);
  background-color: transparent;
  cursor: pointer;
  transition: background-color var(--transTime), color var(--transTime);
}

.main:hover {
  background-color: var(--gray3);
  color: var(--gray13);
}

.active,
.active:hover {
  color: var(--primary7);
  background-color: var(--primary1);
}
