.main {
  display: flex;
  flex-direction: column;
  padding-block-end: 2rem;
}

.crump {
  margin-bottom: 1.5rem;
}

.badge {
  margin-inline: auto;
}

.h1.h1 {
  font-size: var(--fsH1);
  font-weight: 900;
  color: var(--textStrong);
  margin-inline: auto;
  margin-block: 0.75rem 0.5rem;
}

.legend {
  text-align: center;
  color: var(--textBody);
}

.legendLink {
  color: var(--primary);
  font-weight: 700;
}

.categories {
  display: flex;
  padding: 0.375rem;
  border: 1px solid var(--cardLine);
  border-radius: var(--radiusPill);
  box-shadow: var(--elev1);
  background-color: var(--cardBg);
  margin-top: 2.5rem;
  width: fit-content;
  margin-inline: auto;
}

.category {
  transition: all var(--transTime);
  padding: 0.625rem 1.125rem;
  border-radius: var(--radiusPill);
  background-color: transparent;
  color: var(--gray11);
  display: flex;
  align-items: center;
  justify-content: center;
}

.activeCategory {
  background-color: var(--gradAccentSolid);
  background-image: var(--gradAccent);
  color: var(--onColor);
}

.list {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
