.popup {
  width: min(92dvw, 40rem);
}
.main {
  display: flex;
  flex-direction: column;
  gap: var(--sp4);
  min-width: 0;
}
.actions {
  display: flex;
  justify-content: space-between;
  gap: var(--sp2);
  margin-block-start: var(--sp4);
}
.actions > * {
  flex: 1;
}
