.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 18rem;
}

.top {
  background-color: var(--white);
  border: 1px solid var(--gray3);
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nodes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--gray2);
}

.node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.5rem;
  transition: all var(--transTime);
  border-radius: 0.5rem;
}

.activeNode {
  background-color: var(--white);
  box-shadow: 0 0 0 1px var(--primary);
}

.bot {
  display: flex;
  flex-direction: column;
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  background-color: var(--white);
  border: 1px solid var(--gray3);
  border-radius: 0.5rem;
}

.botHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.botTitle {
  color: var(--gray13);
}

.activeFilters {
  padding-block: 0.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.segment {
  display: flex;
  flex-direction: column;
  margin-top: 1.25rem;
}

.segmentHeader {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.segmentTitle {
  margin-inline-end: auto;
  color: var(--gray10);
}

.segmentContent {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.filterButtonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filterButton {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding-inline: 0.25rem;
  padding-block: 0.625rem;
}

.filterButtonTitle {
  color: var(--gray13);
}

.activeBadge {
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 50%;
  background-color: var(--secondary);
}

.filterButtonChevron {
  margin-inline-start: auto;
  flex-shrink: 0;
  color: var(--black);
  transition: all var(--transTime);
}

.filterButtonContent {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  animation: open 0.5s ease-in-out forwards;
}

.date {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.inlineTitle {
  color: var(--gray13);
  margin-inline-end: auto;
}

.boolFilterToggle {
  margin-inline-start: auto;
}

@keyframes open {
  0% {
    max-height: 0;
    padding: 0;
    overflow: hidden;
  }
  99% {
    max-height: 5rem;
    padding: 0.5rem;
  }
  100% {
    max-height: unset;
    overflow: visible;
    padding: 0.5rem;
  }
}
