

.sessions {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  width: 21.5rem;
}

.day,
.more {
  display: flex;
  width: 5rem;
  flex-direction: column;
  height: 8rem;
  overflow: hidden;
  gap: 0.5rem;
  justify-content: center;
  border-radius: 0.25rem;
}

.day {
  padding-inline: 0.5rem;
  background-color: var(--warning);
  color: var(--gray13);
  font-size: 0.875rem;
  font-weight: 400;
}

.weekDay {
  font-size: 0.625rem;
  font-weight: 400;
}

.countLabel {
  font-size: 0.75rem;
}

.more {
  justify-content: center;
  align-items: center;
  color: var(--gray6);
  font-size: 0.75rem;
  font-weight: 400;
  border: 1px solid currentColor;
}

.full {
  background-color: var(--gray4);
}

.day:not(.full) {
  cursor: pointer;
}
