.main {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "identity scores"
    "identity sessions"
    "inPersons onlines"
    "actions actions";
  background-color: pink;
  background-color: var(--white);
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 0.75rem 0.5rem;
}

.identity {
  grid-area: identity;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.scores {
  grid-area: scores;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.onlines {
  grid-area: onlines;
}

.inPersons {
  grid-area: inPersons;
}

.sessions {
  grid-area: sessions;
}

.actions {
  grid-area: actions;
}

.onlineBadge {
  position: absolute;
  top: 0;
  inset-inline-start: 0;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: var(--success);
  border: 1px solid var(--white);
}

.identityContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.identityDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name {
  color: var(--gray13);
}

.sepciality {
  color: var(--gray8);
}

.tags {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
  flex-wrap: wrap;
}

.tag {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;
  border-radius: 100dvw;
  border: 1px solid var(--gray4);
  color: var(--gray8);
}

.onlines,
.inPersons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 0.25rem;
}

.inlineHeader {
  display: flex;
  align-items: center;
}

.inlineTitle {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--gray10);
}

.badges {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.withMap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mapButton {
  color: var(--info);
  text-decoration: underline;
}

.sessions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sessions > * {
  width: calc(((100% - 1.5rem) / 4));
  border-radius: 0.25rem;
  height: 4.5rem;
  padding-inline: 0.5rem;
  overflow: hidden;
  flex-shrink: 0;
  flex: 1;
}

.moreSessions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  color: var(--gray10);
  border: 0.5px dashed var(--gray12);
}

.dayCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--secondary1);
}

.dayLabel {
  color: var(--gray13);
}

.dayCardContent {
  color: var(--gray13);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.actions > * {
  flex: 1;
}

.gridMain {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white);
  border: 0.8px solid var(--gray3);
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: calc(50% - 0.5rem);
  min-width: 25.375rem;
  margin-inline: auto;
}

.gridTop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
}
