.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: min(40rem, 90dvw);
  max-height: 90dvh;
  overflow-y: auto;
}

.choices {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.choice {
  display: flex;
  flex-direction: row;
  height: 4rem;
}

.choiceOptions {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.kind {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
