.main {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: min(90dvw, 31.5rem);
  border-radius: 1rem;
  box-shadow: var(--shadow);
  position: absolute;
  top: calc(100% + 0.75rem);
  background-color: var(--white);
  inset-inline-end: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.title {
  color: var(--gray13);
}

.count {
  color: var(--gray13);
}

.rows {
  display: flex;
  flex-direction: column;
  margin-block: 1rem 1.25rem;
  max-height: 12.625rem;
  overflow-y: auto;
  gap: 0.5rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 1.125rem;
  padding-block: 0.5rem;
  border-bottom: 1px solid var(--gray4);
}

.image {
  position: relative;
  flex-shrink: 0;
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.itemContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.75rem;
}

.itemName {
  color: var(--gray13);
  text-align: start;
}

.rowFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  width: 100%;
}

.priceBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.percent {
  color: var(--white);
  background-color: var(--error);
  border-radius: 100dvw;
  padding: 2px 6px;
}

.discount {
  color: var(--gray8);
}

.price {
  color: var(--error);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.totalBox {
  display: flex;
  flex-direction: column;
}

.discountBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

@media only screen and (max-width: 750px) {
  .main {
    position: fixed;
    top: 5rem;
    height: calc(100dvh - 5rem);
    width: 100dvw;
    border-radius: 0;
    box-shadow: none;
  }

  .footer {
    margin-top: auto;
  }

  .rows {
    max-height: unset;
  }

  body:has(.main) {
    overflow-y: hidden;
  }
}
