.main {
  display: flex;
  align-items: flex-start;
  gap: 3.25rem;
  flex-wrap: wrap;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 27.5rem;
  width: min(27.5rem, 100%);
}

.location {
  flex: 1;
  min-width: min(100%, 20rem);
}
