.main {
  display: flex;
  flex-direction: column;
  height: 13.75rem;
  padding: 1rem;
  background-color: var(--white);
  box-shadow:
    0px 2px 12px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px 0px rgba(0, 0, 0, 0.05);
  border-radius: 1rem;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.875rem;
  background-color: var(--primary1);
  color: var(--primary8);
}

.name {
  color: var(--black);
}

.category {
  color: var(--gray8);
}

.summary {
  margin-top: 0.5rem;
  color: var(--gray8);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
}

.counts {
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  color: var(--gray8);
  padding-top: 0.625rem;
  border-top: 1px solid var(--gray4);
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.action {
  margin-top: 0.5rem;
}
