.container {
  display: flex;
  flex-direction: column;
}

.crump {
  margin-bottom: 1.5rem;
}

.main {
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 756;
  gap: 1.5rem;
  width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: var(--white);
  box-shadow:
    0px 8px 25px -5px #0000001a,
    0px 4px 10px 0px #0000000a;
}

.side {
  flex: 358;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.mobileOnly {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .side {
    display: none;
  }

  .mobileOnly {
    display: flex;
    flex-direction: column;
  }
}
