.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--gray12);
}

.all.all {
  background-color: transparent;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.faq {
  display: flex;
  flex-direction: column;
}

.questionBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  background-color: var(--white);
  border-radius: 0.5rem;
}

.question {
  color: var(--primary);
}

.chevron {
  color: var(--primary);
}

.answer {
  max-height: 0;
  transition: all var(--transTime);
  overflow: hidden;
  background-color: var(--primary1);
  color: var(--primary8);
  padding: 0;
}

.open {
  max-height: 10rem;
  padding: 0.75rem 1.5rem;
}
