.main {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 3rem;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
  background: linear-gradient(45deg, var(--primary9), var(--primary5));
  color: var(--white);
  flex-wrap: wrap;
}

.stats {
  flex-shrink: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  flex: 1;
}

.stat {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #ffffff26;
  flex-direction: column;
  color: var(--white);
  min-width: 15.125rem;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.title {
  text-align: right;
}

.description {
  text-align: right;
  color: #ffffffcc;
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .actions {
    flex-direction: column;
    align-items: flex-start;
  }
}

.action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-inline: 1.5rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: var(--white);
  color: var(--primary);
}

.secondary.secondary {
  background-color: transparent;
  border: 2px solid var(--white);
  color: var(--white);
}
