.main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-bottom: 9.25rem;
}

.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}

.header::before {
  position: absolute;
  top: 100%;
  height: 1.25rem;
  width: 100dvw;
  inset-inline-end: 0;
  content: "";
  display: block;
  background: linear-gradient(90deg, #e7e1f6 0%, #c4b3e9 87.5%, #d8cdf0 100%);
  border-radius: 0.5rem;
  z-index: -1;
  pointer-events: none;
}

.titleBox {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: var(--secondary);
}

.chevron {
  transform: rotateZ(-90deg);
  color: var(--secondary);
}

.content {
  display: flex;
  gap: 1.5rem;
}

.intro {
  flex-shrink: 0;
  width: 17.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--gray4);
  padding: 1rem;
  border-radius: 1rem;
}

.image {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin-bottom: 1.5rem;
}

.secondaryTitle {
  color: var(--gray12);
  margin-bottom: 1rem;
}

.description {
  color: var(--gray10);
  margin-bottom: 1rem;
}

.action {
  margin-top: auto;
}

.list {
  flex-grow: 1;
  margin-block: auto;
  max-width: calc(100% - 17.5rem - 1.5rem);
}

.slide {
  width: fit-content;
}
