.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--gray12);
}

.all.all {
  background-color: transparent;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.faq {
  display: flex;
  flex-direction: column;
}

.questionBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-inline: 1.5rem;
  padding-block: 1.125rem;
  background-color: var(--cardBg);
  border: 1px solid var(--cardLine);
  border-radius: var(--radiusSm);
  cursor: pointer;
}

.question {
  color: var(--textStrong);
  font-weight: 700;
}

.chevron {
  color: var(--primary);
}

.answer {
  max-height: 0;
  transition: all var(--transTime);
  overflow: hidden;
  color: var(--textBody);
  line-height: var(--lhBody);
  padding: 0;
}

.open {
  max-height: 30rem;
  padding: 0.875rem 1.5rem 0.5rem;
}
