.main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-bottom: 5.625rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: var(--gray13);
}

.all {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
}

.allText {
  color: var(--primary);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11.5rem, 1fr));
  gap: 1rem;
}

.speciality {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 7.125rem;
  padding: 1.0625rem;
  border-radius: 1rem;
  background-color: var(--primary1);
  border: 1px solid var(--gray4);
  transition: all var(--transTime);
}

.activeSpeciality {
  background-color: var(--white);
  border: 2px solid var(--primary2);
  box-shadow: var(--shadowSm);
}

.image {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: #ffffff99;
}

.specialityName {
  color: var(--gray12);
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
}

.doctorsBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--gray1);
  box-shadow: var(--shadowMd);
}

.doctorsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.doctorsTitleBox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

.crown {
  color: var(--primary);
}

.doctorsTitle {
  color: var(--gray13);
}

.allDoctors {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  color: var(--primary);
  padding-inline: 0.75rem;
  padding-block: 0.5rem;
}

.doctorSlide {
  width: fit-content;
}
