.main {
  display: flex;
  max-height: min(80dvh, 44.5rem);
  min-height: min(80dvh, 44.5rem);
  height: 100%;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: var(--shadowMd);
  background-color: var(--white);
}
