.main {
  display: flex;
  flex-direction: column;
  gap: 2.875rem;
}

.nav {
  display: flex;
  position: relative;
  overflow-x: auto;
}

.nav::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--gray8);
}

.navItem {
  width: 11.25rem;
  padding-block: 0.5rem;
  border-radius: 1rem 1rem 0 0;
  flex-shrink: 0;
  transition: all var(--transTime) ease-in-out;
  font-weight: 400;
  font-size: 0.875rem;
}

.activeItem {
  background-color: var(--primary1);
  color: var(--primary);
}
