.main {
  direction: ltr;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.digit {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--gray13);
  text-align: center;
  outline: none;
  border: 1.5px solid var(--gray7);
  border-radius: 0.5rem;
  transition: all var(--transTime) ease-in-out;
}
