.main {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.title {
  color: var(--black);
}

.content {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--primary2);
}

.value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.875rem;
  color: var(--balck);
  text-align: center;
  border: none;
  outline: none;
}
