.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.title {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray13);
}

.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
