.main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 400;
}

.link {
  text-decoration: underline solid 4%;
  text-underline-offset: 45%;
  color: var(--primary);
  text-align: start;
  width: fit-content;
}
