.main {
  display: flex;
  gap: 0.5rem;
}

.track {
  flex-shrink: 0;
  width: 2.25rem;
  height: 1.25rem;
  background-color: var(--gray4);
  border-radius: 100dvw;
  transition: all var(--transTime);
  position: relative;
}

.active {
  background-color: var(--info);
}

.thumb {
  background-color: var(--white);
  position: absolute;
  transition: all var(--transTime);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  top: 50%;
  transform: translate(0, -50%);
  left: 0.12rem;
  box-shadow:
    0px 1px 3px 0px rgba(18, 18, 23, 0.1),
    0px 1px 2px 0px rgba(18, 18, 23, 0.06);
}

.active > .thumb {
  background-color: var(--secondary);
  left: calc(100% - 0.12rem);
  transform: translate(-100%, -50%);
}

.label {
  color: var(--gray8);
  font-weight: 500;
  font-size: 1rem;
}
