.main {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.balance {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  color: var(--primary8);
  white-space: nowrap;
}

.current {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.currentModules {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.item {
  flex: 1;
  min-width: 16rem;
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  border-radius: 1rem;
  box-shadow:
    0px 2px 12px -3px #0000001a,
    0px 4px 6px 0px #0000000d;
}

.price {
  color: var(--primary8);
}

.features {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.feature {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.featureIcon {
  color: var(--successS1);
}

.featureValue {
  color: var(--black);
}

.priceOptions {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-top: auto;
}

.priceOption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 0.75rem;
  border-radius: 0.75rem;
  background: var(--gray1);
}

.priceOptionInfo {
  display: flex;
  flex-direction: column;
}
