.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray8);
}

.title {
  color: var(--black);
  font-size: 1.25rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray4);
}

.segment {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.segmentTitle {
  color: var(--gray10);
}

.segmentValue {
  color: var(--gray13);
}
