.main {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.input {
  padding-inline-start: 2.125rem;
}

.input + label {
  inset-inline-start: 2.25rem;
}

.searchIcon {
  color: var(--gray7);
}

.inputBox {
  flex: 1;
}

.fields {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.tab {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.date {
  max-width: 15rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
