.main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 2.5rem;
  width: 100%;
  background-color: red;
}

.input {
  position: absolute;
  inset: 0;
}

.actions {
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translate(0, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
