.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.map {
  width: min(95%, 80vmin);
  aspect-ratio: 1;
  margin-inline: auto;
}

.hint {
  margin: 0;
  font-size: 0.8125rem;
  color: var(--gray11);
  text-align: start;
}
