.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 0.75rem 1rem;
  margin-bottom: 2.5rem;
}

.feature {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.featureIcon {
  color: var(--primary);
}

.featureValue {
  color: var(--gray13);
}

@media only screen and (max-width: 700px) {
  .features {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
}
