.crump {
  margin-bottom: 2.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.title {
  color: var(--gray13);
  font-size: 1.5rem;
  font-weight: 600;
  white-space: nowrap;
  min-width: fit-content;
}

.criterias {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.875rem;
}

.criteria {
  width: 19.375rem;
  flex-shrink: 1;
  min-width: fit-content;
}

.list {
  gap: 2.5rem 0.875rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
