.container {
  display: flex;
  flex-direction: column;
}

.crump {
  margin-bottom: 2.5rem;
}

.wrap {
  display: flex;
  gap: 1.5rem;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 100000000;
}

.category {
  margin-bottom: 0.75rem;
}

.h1 {
  color: var(--black);
  margin-bottom: 1.25rem;
}

.details {
  display: flex;
  align-items: flex-start;
  padding-block: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray4);
  margin-bottom: 1.25rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 0.675rem;
  color: var(--black);
}

.more {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.withIcon {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--gray8);
}

.image {
  width: 100%;
  height: 20rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 1.25rem;
}

.shareBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  border-radius: 100dvw;
  background-color: var(--white);
  border: 1px solid var(--gray3);
  box-shadow:
    0px 1px 2px 0px rgba(15, 40, 90, 0.04),
    0px 4px 24px -12px rgba(15, 40, 90, 0.12);
}

.content {
  display: flex;
  flex-direction: column;
  padding-block: 1.5rem 2rem;
}

.tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.675rem;
  padding-top: 0.5rem;
  border-top: 1px solid var(--gray3);
}

.side {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  min-width: 18.75rem;
  gap: 1rem;
  padding-block-start: 2.625rem;
  margin-bottom: 2rem;
  flex: 1;
}

.bookBox {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  box-shadow:
    0px 2px 12px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px 0px rgba(0, 0, 0, 0.05);
}

.bookTitle {
  color: var(--gray13);
}

.bookLegend {
  color: var(--gray8);
}

.mobileOnly {
  display: none;
}

@media only screen and (max-width: 900px) {
  .desktopOnly {
    display: none;
  }

  .mobileOnly {
    display: flex;
  }
}
