.main {
  display: flex;
  flex-direction: column;
  padding-inline: 1.5rem;
  margin-top: 1.25rem;
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.item {
  flex-shrink: 0;
  width: min(100%, 28rem);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0.675rem;
  border-radius: 0.675rem;
  background-color: var(--gray2);
  color: var(--black);
  flex-grow: 1;
}

.icon {
  color: var(--primary);
}
