.main {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.main::before {
  z-index: -1;
  position: absolute;
  inset-block: 0;
  width: 100dvw;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary1);
  content: "";
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding-block: 2.2rem 3.5rem;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  text-align: right;
  margin-bottom: 1.5rem;
}

.title {
  color: var(--primary9);
}

.description {
  color: var(--gray10);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--white);
}

.icon {
  color: var(--secondary6);
  margin-bottom: 0.5rem;
}

.cardTitle {
  color: var(--black);
  text-align: center;
}

.cardDescription {
  color: var(--black);
  text-align: center;
  max-width: 56rem;
  margin-top: 1rem;
}
