.main {
  width: 100%;
  margin-inline: auto;
  padding-block: 2rem 3.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.0625rem;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  text-align: right;
  padding: 1rem;
  border-radius: 0.75rem;
  background-color: var(--white);
}

.itemTitle {
  color: var(--primary6);
}

.itemDescription {
  color: var(--gray10);
}
