.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.75rem;
  align-items: center;
  padding-block: 3.5rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  max-width: 26rem;
}

.h1 {
  color: var(--primary9);
}

.noyan {
  color: var(--primary);
}

.ai {
  color: var(--secondary);
}

.list {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 1.5rem 1rem;
  align-items: center;
  justify-content: center;
}

.card {
  width: 16rem;
  height: 12.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary1);
  border: 1px solid var(--secondary2);
  border-radius: 0.75rem;
}

.icon {
  margin-bottom: 1rem;
  color: var(--secondary7);
}
