.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.colors {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.colorBox {
  padding: 1rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid var(--black);
}

.color {
  width: 2rem;
  height: 2rem;
}

.input {
  background-color: khaki;
  padding: 1rem;
}

.popup1,
.popup2 {
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: var(--shadow);
}

.popup1 {
  background-color: khaki;
  width: 20rem;
  height: 20rem;
}

.popup2 {
  background-color: pink;
}
