.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.balance {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.balanceValue {
  font-weight: 600;
}

.charge.charge {
  margin-inline-start: auto;
}
