.main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: var(--secondary1);
  margin-bottom: 1.5rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.headerContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  color: var(--gray13);
}

.subTitle {
  color: var(--gray10);
}

.notice {
  color: var(--gray8);
}
