.main {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.25rem;
}

.side {
  width: 16.5rem;
  padding: 0.75rem;
  position: relative;
  background-color: var(--white);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: fit-content;
}

.content {
  width: 52.3125rem;
  flex-grow: 1;
  height: fit-content;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

@media only screen and (max-width: 800px) {
  .main {
    flex-direction: column;
  }

  .content {
    order: 0;
  }
  .side {
    order: 1;
    width: 100%;
  }
}
