.main {
  position: relative;
  height: 26.25rem;
}

.fade {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.55) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.content {
  position: absolute;
  bottom: 1.5rem;
  width: calc(100% - 1.5rem);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.intro {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex: 1;
  justify-content: flex-start;
}

.avatar {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
  border-radius: 1rem;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: flex-start;
  justify-content: center;
}

.name {
  color: var(--white);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.stats {
  display: flex;
  align-items: center;
  color: var(--yellow);
  gap: 0.25rem;
}
