.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summary {
  color: var(--gray10);
}

.categoryBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem;
  border-radius: 0.675rem;
  border: 1px solid var(--gray3);
}

.categoryIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.675rem;
}

.categoryTitle {
  color: var(--gray8);
  flex: 1;
}

.counts {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-block: 0.5rem;
  flex-wrap: wrap;
}

.count {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.675rem;
  border-radius: 0.875rem;
  background-color: var(--gray2);
}

.countIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.675rem;
  border-radius: 0.675rem;
  flex-shrink: 0;
}

.countContent {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.125rem;
}

.countTitle {
  color: var(--gray8);
}

.countValue {
  color: var(--black);
}

.countLink {
  border: 1px solid transparent;
  transition:
    border-color var(--transTime),
    background-color var(--transTime);
}

.countLink:hover {
  border-color: var(--primary);
  background-color: var(--primary1);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.network {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.875rem;
  border: 1px solid var(--gray3);
}

.networkHead {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

@media (max-width: 40rem) {
  .count {
    flex-basis: 100%;
  }
}
