.main {
  padding-block: 7.5rem;
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  align-content: center;
  padding-bottom: 5rem;
  flex-wrap: wrap;
}

.item {
  padding-inline: 4.25rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.itemContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.itemHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  padding: 1.25rem;
}

.index {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--onColor);
  margin-bottom: 0.5rem;
}

.storyTitle {
  color: var(--primary10);
}

.storyDescription {
  color: var(--gray8);
  text-align: center;
}

.description {
  color: var(--gray10);
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .list {
    flex-direction: column;
    gap: 2rem;
  }

  .item {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-inline: 0;
    padding-inline-end: 3.375rem;
    width: 100%;
  }

  .itemHeader{
    flex-direction: row;
  }
}
