.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow:
    0px 8px 25px -5px #0000001a,
    0px 4px 10px 0px #0000000a;
}

.title {
  color: var(--gray13);
}


.prices {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
}

.discount {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.strike {
  color: var(--gray8);
}

.precent {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100dvw;
  padding: 2px 0.375rem;
  color: var(--onColor);
  background-color: var(--error);
}

.price {
  color: var(--error);
}

.saved {
  color: var(--successS1);
}
