.main {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.75rem;
}

.fields {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-block: 1.5rem;
}

.actions {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
